.qmake.stash
Makefile
*.o
libsimConvexDecompose.1.0.0.dylib
libsimConvexDecompose.1.0.dylib
libsimConvexDecompose.1.dylib
libsimConvexDecompose.dylib
libsimConvexDecompose.so
libsimConvexDecompose.so.1
libsimConvexDecompose.so.1.0
libsimConvexDecompose.so.1.0.0
Makefile.Debug
Makefile.Release
object_script.*.Debug
object_script.*.Release
debug/
release/
*.pro.user
*.user
