.qmake.stash
Makefile
*.o
libsimExtConvexDecompose.1.0.0.dylib
libsimExtConvexDecompose.1.0.dylib
libsimExtConvexDecompose.1.dylib
libsimExtConvexDecompose.dylib
libsimExtConvexDecompose.so
libsimExtConvexDecompose.so.1
libsimExtConvexDecompose.so.1.0
libsimExtConvexDecompose.so.1.0.0
Makefile.Debug
Makefile.Release
object_script.*.Debug
object_script.*.Release
debug/
release/
*.pro.user
*.user
